<% title "Searches" %>

<table>
  <tr>
    <th>Text</th>
  </tr>
  <% for search in @searches %>
    <tr>
      <td><%= link_to h(search.text), edit_search_path(search) %></td>
      <td><%= link_to search.site_address, search.site_address %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Search", new_search_path %></p>
