<% title "Searches" %>

<ul id="searches">
  <% for search in @searches %>
    <% content_tag_for(:li, search) do %>
      <h2><%= link_to h(search.text), search_path(search) %></h2>
      <cite><%= link_to search.site_address, search.site_address %></cite>
      <%= link_to "Edit", edit_search_path(search) %>
    <% end %>
  <% end %>
</ul>


<p><%= link_to "New Search", new_search_path %></p>
